<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat App</title>
    <link rel="icon" href="/img/chaticon.png">
    <link rel="stylesheet" href="/css/styles.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="chat">
            <div id="sidebar" class="chat__sidebar">

            </div>
            <div class="chat__main">
                <div id="messages" class="chat__messages"></div>

                <div class="compose">
                    <form id="message-form">
                        <input id="message" type="text" placeholder="Message" required autocomplete="off">
                        <button id="send-btn" type="submit" class="btn btn-primary">Send</button>
                    </form>
                    <button type="submit" class="btn btn-primary" id="send-location">Send Location</button>
                </div>
            </div>
        </div>

        {{!-- <h1>Chat App</h1> --}}
        {{!-- <br><br> --}}

        {{!-- <div id="messages"></div>

        <form id="message-form">
            <input id="message" type="text" placeholder="Message">
            <button id="send-btn" type="submit" class="btn btn-primary">Send</button>
        </form> --}}
        {{!-- <br>
        <br>
        <button type="submit" class="btn btn-primary" id="send-location">Send Location</button> --}}
        {{!-- <span>
            Count: <span id="count"></span> <span><button type="button" class="btn btn-primary" id="increment">+1</button></span>
        </span> --}}

        {{!-- <script id="message-template" type="text/html">
            <div>
                <p>{{messageInUI}}</p>
            </div>
        </script> --}}

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>