<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat App</title>
    <link rel="icon" href="/img/chaticon.png">
    <link rel="stylesheet" href="/css/styles.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Join</h1>
            <form action="/chat">
                <label>Display Name</label>
                <input type="text" name="username" placeholder="Display Name" required>
                <label>Room</label>
                <input type="text" name="room" placeholder="Room" required>
                <button>Join</button>
            </form>
        </div>
    </div>
</body>
</html>